<% provide(:title, "料金一覧") %>
<div class="pricingTable">
  <h1>料金一覧</h1>
  <p class="lead">当サイトが使用しているデータです。</p>
  <small>一定期間キャッシュしているため、最新の価格とは限りません。</small>
  <%= form_tag(prices_path, method: :get) do %>
    <div class="form-group">
      <%= text_field_tag :q, @search %>
      <%= submit_tag '検索', :name => nil, class: "btn btnMain" %>
    </div>
  <% end %>
  <table class="table border rounded-lg tablePricing">
    <thead>
      <tr>
        <th>ドメイン</th>
        <th>登録料金</th>
        <th>更新料金</th>
        <th>レジストラ（登録業者）</th>
      </tr>
    </thead>
    <tbody>
      <% @price.each do |p|%>
      <tr>
        <th scope="row" class="th-dom"><%= show_domain(p.domain) %></th>
        <td class="td-price"><%= p.register_price.to_s(:delimited) %>円</td>
        <td class="td-price"><%= p.update_price.to_s(:delimited) %>円</td>
        <td class="td-rgstr"><%= link_to show_registrar(p.registrar), show_link(p.registrar), rel: :nofollow %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @price %>
</div>
