<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>ドメイン</th>
      <th>登録料金</th>
      <th>更新料金</th>
      <th>レジストラ（登録業者）</th>
    </tr>
  </thead>
  <tbody>
    <% @price.each do |p|%>
    <tr>
      <th scope="row"><%= p.domain %></th>
      <td><%= p.register_price %></td>
      <td><%= p.update_price %></td>
      <td><%= p.registrar %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @price %>
