<% provide(:title, "料金一覧") %>
<div class="container">
  <div class="pricingTable">
    <h1>料金一覧</h1>
    <table class="table border rounded">
      <thead>
        <tr>
          <th>ドメイン</th>
          <th>登録料金</th>
          <th>更新料金</th>
          <th>レジストラ（登録業者）</th>
        </tr>
      </thead>
      <tbody>
        <% @price.each do |p|%>
        <tr>
          <th scope="row" class="th-dom"><%= show_domain(p.domain) %></th>
          <td class="td-price"><%= p.register_price.to_s(:delimited) %>円</td>
          <td class="td-price"><%= p.update_price.to_s(:delimited) %>円</td>
          <td class="td-rgstr"><%= link_to show_registrar(p.registrar), show_link(p.registrar), rel: :nofollow %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @price %>
  </div>
</div>
