<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <%= link_to root_path, class: "navbar-brand text-white" do %>
      <%= image_tag 'brand-icon.png', width: "27px" %>
      最安ドメイン比較
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= class_active?(root_path)%>"><%= link_to "トップ", root_path, class: "nav-link" %></li>
        <li class="nav-item <%= class_active?(prices_path) %>"><%= link_to "料金一覧", prices_path, class: "nav-link" %></li>
        <li class="nav-item <%= class_active?(about_path) %>"><%= link_to "About", about_path, class: "nav-link" %></li>
        <li class="nav-item <%= class_active?(help_path) %>"><%= link_to "ヘルプ", help_path, class: "nav-link" %></li>
      </ul>
      <span class="navbar-text">
        <a href="https://twitter.com/saiyasu_domain">
          <%= image_tag 'twitter-icon.png', width: "27px" %>
          @saiysu_domain
        </a>
      </span>
    </div>
  </nav>
</header>
