<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/html5shiv/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body class="d-flex flex-column" style="min-height: 100vh;">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to "最安ドメイン比較", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= class_active?(root_path)%>"><%= link_to "トップ", root_path, class: "nav-link" %></li>
            <li class="nav-item <%= class_active?(prices_path) %>"><%= link_to "料金一覧", prices_path, class: "nav-link" %></li>
            <li class="nav-item <%= class_active?(help_path) %>"><%= link_to "ヘルプ", help_path, class: "nav-link" %></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer mt-auto bg-light">
      <nav class="navbar navbar-light bg-light">
        <div class="navbar-nav">
          <%= link_to "このサイトについて", about_path, class: "nav-link nav-item" %>
          <%= link_to "利用規約", terms_path, class: "nav-link nav-item" %>
          <%= link_to "プライバシーポリシー", policy_path, class: "nav-link nav-item" %>
          <%= link_to "お問い合わせ", contact_path, class: "nav-link nav-item" %>
          <small class="navbar-text">&copy; 2020 最安ドメイン比較.com</small>
        </div>
      </nav>
    </footer>
  </body>
</html>
